body {
  display: flex;
  background-color: #0c091d;
}

.small-lines {
  stroke: rgba(169, 114, 255, 0.5);
}
.big-lines {
  stroke: #a972ff;
}
.akrep {
  transform-origin: 400px 400px;
}
.yelkovan {
  transform-origin: 400px 400px;
}
.second {
  transform-origin: 400px 400px;
}

.text {
  position: absolute;
  font-size: 30px;
  color: #fff;
  transform: translate(-50%, -50%);
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}